.header{color: black; background-color: #f1f1f1;
             padding: 20px; text-align: center;
             }
.menu
      {color: #eb2323; background-color: #333; padding: 20px;}
.menu a{}
.menu a:hover{background-color: LightGrey;}
